service vendor.camera.provider-mainline /apex/com.android.hardware.camera.provider/bin/hw/android.hardware.camera.provider-service.mainline
    class hal
    user cameraserver
    # camera: /dev/video*, /dev/media*, /dev/v4l-subdev*
    group camera
    capabilities SYS_NICE
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles CameraServiceCapacity CameraServicePerformance

# Restart the service on a rebootless update of the APEX.
on property:apex.com.android.hardware.camera.provider.ready=true
    start vendor.camera.provider-mainline
